<div id="<%= dom_id filme %>">
  <p>
    <strong>Titulo:</strong>
    <%= filme.titulo %>
  </p>

  <p>
    <strong>Ano lancamento:</strong>
    <%= filme.ano_lancamento %>
  </p>

  <p>
    <strong>Elenco atores:</strong>
    <%= filme.elenco_atores %>
  </p>

  <p>
    <strong>Comentarios:</strong>
    <%= filme.comentarios %>
  </p>

</div>
